@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* Starting screen size 350px */
/* Start Page */

.start-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.start-container > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.start-journey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 95%;
  height: 35%;
  background-color: rgba(43, 45, 66, 0.9);
  padding: 5px;
  margin-bottom: 0.625rem;
  border-radius: 30px;
  position: absolute;
}

.start-journey > h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #ffff;
}

.start-journey > button > a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 700;
}

.start-journey > button > a:visited {
  color: black;
}

.start-journey > button {
  margin: 2rem;
  height: 2.5rem;
  width: 7.5rem;
  border: 2px solid #ffff;
  border-radius: 12px;
  text-align: center;
  background-color: #ffff;
  cursor: pointer;
}

/* Login Page and Sign Up Pages */
.sign-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2b2d42;
}
.sign-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.sign-form {
  display: flex;
  flex-direction: column;
  width: 18rem;
  height: fit-content;
  background-color: #ffff;
  border-radius: 5px;
  border: 2px solid #dddefa;
  padding: 20px;
  margin-top: 1.5rem;
}

.sign-form > h1 {
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.sign-form > h5 {
  margin-bottom: 0.3rem;
}

.sign-form > input {
  height: 1.9rem;
  margin-bottom: 0.63rem;
  background-color: white;
  width: 98%;
  border: 2px solid #424359;
}

.sign-form > button {
  background-color: #a6a7c1;
  width: 100%;
  height: 1.9rem;
  border: 1px solid #424359;
  margin-top: 0.63rem;
  border-radius: 10px;
  color: black;
  font-size: 1rem;
  font-weight: 700;
}

.sign-up-btn {
  background-color: #a6a7c1;
  border-radius: 10px;
  width: 50%;
  height: 1.9rem;
  border: 1px solid #424359;
  margin-top: 0.63rem;
}

.sign-up-btn > a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  color: black;
}

.sign-up-btn > a:visited {
  color: black;
}

.return-login {
  color: white;
}

.return-login > a:visited {
  text-decoration: none;
  color: white;
}

/* Profile Page */
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-color: #2b2d42;
}

.profile-container > h1 {
  text-align: center;
}

.profile-menu {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 75vh;
  background-color: #ffff;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  font-size: 1.5rem;
}

.profile-info > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.info > h4 {
  margin-left: 1rem;
}

/* .screen {
  background-color: rgba(0, 0, 0, 0.6);
  transition: margin 0.5s ease-out;
}

.screen.up {
  margin-top: -100vh;
}

/* HomePage*/
/* .hompage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-image: url(background-img.jpg);
  background-size: cover;
  z-index: 100;
  width: 90vw;
  height: 90vh;
}

.get-started {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.get-started > h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  text-shadow: 2px 2px 0 #d90429;
  margin-top: 16rem;
}

.start-btn {
  color: white;
  border: 2px solid #8d99ae;
  border-radius: 16px;
  text-shadow: 2px 2px #d90429;
  background-color: #2b2d42;
  height: 4.5rem;
  width: 9.6rem;
  text-align: center;
  margin-top: 10rem;
  cursor: pointer;
} */

/* Details/Form */

/* .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.submitBtn {
  color: white;
  border: 2px solid #8d99ae;
  border-radius: 16px;
  text-shadow: 2px 2px #d90429;
  background-color: #2b2d42;
  height: 4.5rem;
  width: 9.6rem;
  text-align: center;
  margin-top: 10rem;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 1.5rem;
}

.inputs > div {
  margin-bottom: 1rem;
}

.label {
  text-shadow: 1px 1px 0 #d90429;
}

#name {
  margin-left: 8rem;
}

#age {
  margin-left: 9.3rem;
}

#height {
  margin-left: 5.5rem;
}

.exercise {
  display: flex;
  flex-direction: column;
} */

/* Profile */

/* .profile {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.quad {
  width: 50vw;
  height: 50vh;
}

.profile-info {
  text-align: center;
  color: white;
}

.profile-info > h1 {
  text-shadow: 4px 4px 0 #d90429;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}

.quad1 {
  border-bottom: 1px solid #d90429;
  background-color: #2b2d42;
  height: 50%;
}

.quad2 {
  border-right: 1px solid #d90429;
  border-bottom: 1px solid #d90429;
}

.quad3 {
  border-left: 1px solid #d90429;
  border-bottom: 1px solid #d90429;
}

.quad4 {
  border-left: 1px solid #d90429;
  border-top: 1px solid #d90429;
}  */
