@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
}

.screen {
  transition: margin 0.5s ease-out;
}

.screen.up {
  margin-top: -100vh;
}

.hompage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-image: url(background-img.jpg);
  background-size: cover;
  z-index: 100;
  width: 90vw;
  height: 90vh;
}

.get-started {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.get-started > h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  text-shadow: 2px 2px 0 #d90429;
  margin-top: 16rem;
}

.start-btn {
  color: white;
  border: 2px solid #8d99ae;
  border-radius: 16px;
  text-shadow: 2px 2px #d90429;
  background-color: #2b2d42;
  height: 4.5rem;
  width: 9.6rem;
  text-align: center;
  margin-top: 10rem;
  cursor: pointer;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 1.5rem;
}

.inputs > div {
  margin-bottom: 1rem;
}

#name {
  margin-left: 8rem;
}

#age {
  margin-left: 9.3rem;
}

#height {
  margin-left: 5.5rem;
}

.exercise {
  display: flex;
  flex-direction: column;
}
