@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-text-color: #333333;
  --secondary-text-color: #ffffff;
  --form-background: #ffffff;
  --button-background: #d12c20;
  --main-background: #1a1a1a;
  --border-color: #cccccc;
}

/*---------------------------------------------------------------Start Page---------------------------------------------------------------*/

.start-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: black;
}

.start-container > img {
  object-fit: cover;
  object-position: clamp;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 700px) {
  .start-container > img {
    object-position: 50% 0%;
  }
}
@media screen and (min-width: 1050px) {
  .start-container > img {
    object-position: 50% 5%;
  }
}
@media screen and (min-width: 1950px) {
  .start-container > img {
    object-position: 50% 10%;
  }
}

.start-journey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 95%;
  height: fit-content;
  background-color: var(--form-background);
  border: 1px solid var(--border-color);
  padding: 0.31rem;
  margin-bottom: 0.625rem;
  border-radius: 30px;
  position: absolute;
}

.start-journey > h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-text-color);
}

.start-journey > a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  height: 2.5rem;
  width: 7.5rem;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  background-color: var(--button-background);
  cursor: pointer;
  text-decoration: none;
  color: var(--secondary-text-color);
  font-size: 1rem;
  font-weight: 700;
}

.start-journey > a:visited {
  color: var(--primary-text-color);
}

.start-journey > a:hover {
  transform: scale(1.1);
}

/*---------------------------------------------------------------SignUp Page---------------------------------------------------------------*/
.sign-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-background);
}
.sign-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.sign-form {
  display: flex;
  flex-direction: column;
  width: 24rem;
  height: fit-content;
  background-color: var(--form-background);
  border-radius: 5px;
  border: 1px solid var(--border-color);
  padding: 40px;
  margin-top: 1rem;
}

.sign-form > h1 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.sign-form > h5 {
  margin-bottom: 0.3rem;
}

.sign-form input {
  height: 1.9rem;
  background-color: white;
  width: 98%;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  padding: 10px;
}

.height {
  display: flex;
}

.height > #feet {
  margin-right: 10px;
}

.form-btn {
  background-color: var(--button-background);
  width: 100%;
  height: 2.2rem;
  border: 1px solid var(--border-color);
  margin-top: 0.63rem;
  border-radius: 20px;
  color: var(--secondary-text-color);
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  font-size: 1rem;
  margin-top: 2.5rem;
  cursor: pointer;
}

.form-btn:hover {
  transform: scale(1.1);
}

/*---------------------------------------------------------------NavBar---------------------------------------------------------------*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111111;
  position: relative;
  width: 100vw;
  height: 96px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.nav-brand {
  display: flex;
  align-items: center;
}

.icon {
  margin: 1rem;
  color: var(--secondary-text-color);
  width: 72px;
  height: 72px;
}

.app-name {
  font-size: 1rem;
  color: var(--secondary-text-color);
}

.nav-links > ul {
  display: flex;
  list-style: none;
}
.nav-links a {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-size: 1.5rem;
  margin-right: 2rem;
  padding: 1rem;
  display: block;
  cursor: pointer;
}

.nav-links a:active {
  color: var(--button-background);
}

.toggle-btn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 32px;
  height: 24px;
  top: 0.5rem;
  right: 1rem;
}

.toggle-btn .bar {
  height: 4px;
  width: 100%;
  background-color: var(--secondary-text-color);
  border-radius: 8px;
}

@media (max-width: 633px) {
  .nav-links a {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .icon {
    width: 56px;
    height: 56px;
    margin: 16px;
  }

  .toggle-btn {
    display: flex;
  }

  .nav-links {
    display: none;
    width: 100%;
  }

  .nav-links ul {
    width: 100%;
    flex-direction: column;
  }

  .nav-links ul li {
    text-align: center;
  }

  .nav-links ul li a {
    padding: 0.5rem 1rem;
  }

  .nav-links.active {
    display: flex;
  }
  .nav.active {
    height: auto;
  }
}

/*--------------------------------------------------------------Container for Profile, Workout and Food Pages-------------------------------*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 96px);
  background-color: var(--main-background);
  overflow-y: scroll;
}

/*--------------------------------------------------------------Info for Profile, Workout and Food Pages------------------------------------*/
/* .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  max-width: 150px;
  height: fit-content;
  background-color: var(--form-background);
  border: 1px solid var(--border-color);
  padding: 0.31rem;
  margin-bottom: 5px;
  border-radius: 30px;
  text-align: center;
} */

/*---------------------------------------------------------------Profile Page---------------------------------------------------------------*/
#profile-page {
  position: absolute;
}

#profile-page > h1 {
  text-align: center;
}

#profile-page h2 {
  font-size: 0.8rem;
  margin: 2rem;
}

.all-pro-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 96px);
  background-color: var(--main-background);
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 10rem;
  height: 9rem;
  background-color: var(--form-background);
  border: 1px solid var(--border-color);
  margin: 8px;
  border-radius: 8px;
}

@media (min-width: 530px) {
  .all-pro-info {
    display: flex;
    flex-direction: column;
  }

  .profile-row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .profile-row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (max-width: 360px) {
  .profile-info {
    width: 9.5rem;
  }
}

/*---------------------------------------------------------------Workout Page---------------------------------------------------------------*/

.workout-greeting {
  text-align: center;
}

#workout-day {
  margin: 5rem;
}

.exercise-card {
  background-color: var(--form-background);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.exercise-card p {
  margin: 5px 0;
}

.workout-info {
  /* display: grid;
  grid-template-columns: 1fr 100px 100px;
  grid-template-rows: repeat(4, 50px);
  grid-template-areas:
    "title1 title2 title3"
    "ex-name ex-set ex-rep";
  justify-items: center;
  align-items: center;
  max-width: 850px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 10px;
}
.ex-temp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 96px);
  background-color: var(--main-background);
}

.workout-info > a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.workout-title1 {
  grid-area: title1;
}

.workout-title2 {
  grid-area: title2;
  margin-right: 1rem;
}

.workout-title3 {
  grid-area: title3;
}

.ex-name-row1 {
  grid-area: ex-name1;
}

.ex-name-row2 {
  grid-area: ex-name2;
}

.ex-name-row3 {
  grid-area: ex-name3;
}

.ex-set-row1 {
  grid-area: ex-set1;
}

.ex-set-row2 {
  grid-area: ex-set2;
}

.ex-set-row3 {
  grid-area: ex-set3;
}

.ex-rep-row1 {
  grid-area: ex-rep1;
}

.ex-rep-row2 {
  grid-area: ex-rep2;
}

.ex-rep-row3 {
  grid-area: ex-rep3;
}

#profile-name,
.workout-greeting,
#food-title {
  color: var(--secondary-text-color);
}

#instruc-page {
  height: 100vh;
}

.back-btn {
  text-decoration: none;
  color: var(--secondary-text-color);
  cursor: pointer;
}

/*---------------------------------------------------------------Food Page---------------------------------------------------------------*/

.food-info {
  display: flex;
}

.food-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--form-background);
  border: 1px solid var(--border-color);
  width: 12rem;
  height: 16rem;
  border-radius: 12px;
  margin-right: 1rem;
}

.food-card > .food-name {
  text-align: center;
}

#food-sug {
  color: var(--secondary-text-color);
}

.food-card > .food-title {
  display: flex;
  justify-content: center;
}

.food-cal-pro {
  display: flex;
}

.cal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
}

.pro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tot-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--form-background);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  margin-bottom: 1rem;
}

.tot-card > * {
  margin: 8px;
}

/* .total-cal {
  grid-area: totCal;
}

.total-protein {
  grid-area: totPro;
} */

@media (max-width: 633px) {
  .food-info {
    flex-direction: column;
    align-items: center;
  }
  .food-card {
    margin: 1rem;
  }

  #food-sug {
    margin-top: 30rem;
  }
}

.hidden {
  display: none;
}
